* { 
  box-sizing: border-box; 
  background-color: black; 
  font-family: 'Encode Sans', sans-serif;
  color: white; 
}

#text { 
  font-size: 30px; 
  padding-top: 20px; 
}

#score { 
  font-size: 30px; 
  padding: 20px;
}

body { 
  height: 100vh; 
  margin: 0; 
  display: flex;
  flex-direction: column; 
  justify-content: space-around; 
  align-items: center; 
}

.grid-wrapper { 
  height: 100vh; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.grid { 
  align-items: center; 
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2); 
  display: flex; 
  flex-wrap: wrap; 
  height: 100%; 
  justify-content: center; 
  height: 800px; 
  width: 800px; 
  background-color: black; 
}

.grid div { 
  /* border: 1px solid lightgrey;  */
  flex-grow: 1; 
  height: 2.5%; 
  width: 2.5%; 
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.wall { 
  background-color: rgb(193, 180, 180); 
}

span { 
  border-radius: 50%; 
  height: 20px; 
  width: 20px; 
}

.pink { 
  background-color: pink; 
}

.green { 
  background-color: green; 
}

.blue { 
  background-color: blue;
}

.orange { 
  background-color: orange; 
}

.pacman { 
  background-color: yellow; 
  border-radius: 0; 
}

.pellet { 
  background-color: white; 
  height: 4px; 
  width: 4px; 
}

@keyframes blink { 
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.power { 
  height: 8px;
  width: 8px;
  animation: blink 0.2s infinite; 
}

@keyframes fast-blink { 
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.scared { 
  background-color: lightblue; 
  animation: fast-blink 0.2s infinite; 
}

.transparent { 
  opacity: 0.25; 
}

.letter1 { 
  background-color: darkmagenta; 
}

.letter2 { 
  background-color: darkorchid; 
}

.letter3 { 
  background-color: darkred;  
}

