* { 
  box-sizing: border-box; 
}

body { 
  height: 100vh; 
  margin: 0; 
}

.grid-wrapper { 
  height: 100vh; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.grid { 
  align-items: center; 
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2); 
  display: flex; 
  flex-wrap: wrap; 
  height: 100%; 
  justify-content: center; 
  height: 600px; 
  width: 600px; 
  background-color: black; 
}

.grid div { 
  border: 1px solid lightgrey; 
  flex-grow: 1; 
  height: 5%; 
  width: 5%; 
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.wall { 
  background-color: rgb(193, 180, 180); 
}

span { 
  border-radius: 50%; 
  height: 20px; 
  width: 20px; 
}

.pink { 
  background-color: pink; 
}

.green { 
  background-color: green; 
}

.blue { 
  background-color: blue;
}

.orange { 
  background-color: orange; 
}

.pacman { 
  background-color: yellow; 
  border-radius: 0; 
}

.pellet { 
  background-color: white; 
  height: 3px; 
  width: 3px; 
}


